#root {
  margin: 0;
}

main{
  padding: 20px;
  margin-top: 60px;
  background-color: #fff;
}


.logoNetflix{
  width:5%;
}

.customNav{
  background-color: #141313;
  padding-inline: 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 2;
}

.profilePic img{
  width: 40px;
  height: 40px;
}

.menuNav{
  font-weight: 600;
  color: #757575;
  margin-inline:20px ;
  text-decoration: none;

}

.menuNav:hover, .footer-links a:hover{
  color: #fff;
}

/* SETTINGS */

.sMain{
  padding: 2% 15%;
}

.sMain a{
  text-decoration: none;
}

.account{
  font-size: 60px;
}

.membership{
  display: flex;
}

.titleSection, .subSection{
  width: 30%;
  color:#989898;

}

/* BUTTON */
.cancel{
  background-color: #E2E2E2;
  border-radius: 0;
  border: 2px solid #E2E2E2;
  padding: 1% 6%;
  color:#141313
}

.cancel:hover{
  background-color: #fff;
}
/* end button------- */

.campi, .billingLink{
  width: 100%;
  display: flex;
}

.billingLink{
  justify-content: flex-end;
}

.campi, .campi_user{
  justify-content: space-between;
}

.campi p {
  margin: 0;
}

.sezione{
  width: 100%;
}

.user, .campiUser{
  display: flex;
  align-items: center;
  width: 100%;
}

.campiUser a {
  text-align: end;
}

.user img{
  width: 10%;
}
.user p{
  margin: 0 3%;
}