html, body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    background-color: #FFC016;
}

@media screen and (min-width: 320px) and (max-width: 500px){
    .stay_curious svg{
        display: none;
    }
    
    

/*HEADER*/
header{
    padding: 0.5% 1%;
    background-color: #FFC016;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    transition: 500ms;
    width: fit-content;
}

ul li:not(:last-child){
    display: none;
}

nav{
    display: flex;
    justify-content: space-between;
}

header img{
    width: 30%;
}

ul{
    padding: 0;
}

ul li{
    display: inline;
    padding: 10px;
}

a{
    text-decoration: none;
}

.menu{
    display: flex;
    gap: 10px;
    align-items: center;
    font-size: 10px;
}

/*BOTTONI*/

.start{
    height: fit-content;
    padding: 7px 15px;
}

.read{
    padding: 7px 15px;
    margin-top: 2%;
    font-size: 10px;
}

button{
    border-radius: 50px;
    border: 0px;
    background-color: #191919;
    transition-duration: 0.7s;
    transition-timing-function: ease-in-out;
    font-size: 10px;
}

button .start :hover, button .read:hover{
    background-color: #000000;
}

.start a, .read a {
    color: #fff;
}

li a {
    color: #000000;
}

.active{
    background-color: #fff;
}

.active button{
    background-color: #2A8A24 ;
    transition-duration: 0.7s;
    transition-timing-function: ease-in-out;
} /*aggiungere animazione al bottone non all'hover*/

.active button:hover{
    background-color: #216E1C ;
}


/*STAY CURIOUS*/
header, .stay_curious{
    border-bottom: 1px solid #000000;
}

.first_title{
    padding: 5% 3%;
    margin-top: 5%;
} 

h1{
    padding: 5% 0;
    font-family: gt-super, Georgia, Cambria, "Times New Roman", Times, serif;
    font-size: 40px;
    margin: 0;
}

h2{
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    margin-top: 0px;
}

/*MENU TRENDING*/
.positions{
    margin: 2% 0;
}
.trending{
    background-color: #fff;
    padding: 4% 1%;
    border-bottom: 1px solid #F2F2F2;
}

.trending h4{
    display: inline;
    margin-left: 20px;
    font-size: 12px;
}


h4{
    font-weight: 500;
}

.title_classifica{
    display: flex;
    align-items: center;
}

.title_classifica h4{
    margin: 0;
}

.number{
    color: #F2F2F2;
    font-weight: 600;
    font-size: 17px;
    margin: 0;
}
.info{
    line-height:1;
    width: 70%;
}

.info p, .time{
    font-size: smaller;
}

.profile{
    display: flex;
    align-items: center;
}

.profile img{
    border-radius: 50%;
    width: 7%;
    margin-right: 10px;
}

.classifica{
    display: flex;
    align-items: first baseline;
    justify-content: space-around;
    width: 70%;
    margin-bottom: 10%;
}

time, span{
    display: inline;
    color: #6B6B6B;
    margin: 0;
}

.data_time{
    display: flex;
    align-items:center;
    color: #6B6B6B;
    width: 100%;
    font-size: 10px;
}


/*ARTICOLI + MENUFILTRI*/


.link{
   display: none;
}

.bottons{
    width: 80vw;
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;
}

.bottons .categoria{
    margin: 5px;
}

.topics {
    width: 100vw;
}
/* .link a{
    color: #2A8A24;
}

.link a:hover{
    color: #000000;
} */

.linkarium{
    font-size: smaller;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}


.home{
    padding: 1% 2%;
    background-color: #fff;
    height: fit-content;
   
}

.elenco{
    height: 100%;
} 

.articoli{
    width: 100vw;
   
    display: flex;
}



h3{
    margin: 0;
}

 .articoli{
    
    margin: 40px 0;
   
}

.imgArt{
    width: 10%;
    height: fit-content; 
}


article p{
    margin-top: 2px;
    color: #6B6B6B;
    font-size: 10px;
}

article{
    width: 50vw;
}



.categoria{
    border-radius: 50px;
    border: 0px;
    background-color: #F2F2F2;
    padding: 5px 7px;
    margin: 0px;
    color: #6B6B6B
}

.categoria a, .linkarium a{
    color: #6B6B6B;
}
    
.subInfo{
    display: flex;
    width: 100%;
    justify-content: space-between;
   align-items: center;
}

.whenWhat{
    display: flex;
    width: 70%;
    justify-content: space-between;
 
}

small{
    font-size: 11px;
}

small .data_time{
    font-size: 7px;
}

}

