/* Your styles here */
html, body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #E6EBEC;
    box-sizing: border-box;
}

/*HEADER*/

header{
    background-color: #212b38;
}
header img {
    width: 7%;
    padding: 1% 0 0 1%;
    margin: 0;
}

header ul{
    background-color: #324050;
    color: #fff;
    list-style: none;
    padding: 10px
}
li{
    display: inline;
    padding-left: 10px;
    padding-right: 10px;
}

/* MAIN */

#orange{
    margin: 1%;
    padding: 1px;
    background-color: #E75610;
    color: #fff;
    text-align: center;
}

.banner{
    color: #fff;
    margin: 1%;
    padding: 30px 15px;
    background-image: url(../images/bg-image.png);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

.banner h2{
    font-size: 35px;
}

h3{
    font-weight: 500;
}

.categorie{
    background-color: #fff;
    margin: 1%;
    text-align: center;
}

.categorie img{
    width: 20vw;
    height: 37vh;
    border-radius: 10%;
    box-shadow: 4px 4px 4px lightgray;
    margin: 0  1.5% 2% 1.5%;
}

.categorie h2{
    text-align: left;
    padding: 20px 20px;
    margin: 0;
}

span{
    font-size: 16px;
    color: #356F7F;
}

figure{
    margin: 2% 1%;
    text-align: center;

}

figure img{
    width: 100%;   
}

figcaption h2{
    margin: 0;
}

/*FOOTER*/

footer{
    background-color: #212b38;
    text-align: center;
}
footer img{
    width: 17%;
    padding: 50px 0;
}

#anchor{
    background-color: #324050;
    padding: 20px 0;
}

a{
    color: #fff;
    font-weight: 700;
}  
