#root {
  margin: 0;
  background-color: #221f1f;
}

main, footer{
  padding: 20px;
  margin-top: 60px;
}

.gallery{  
  display: flex;
  justify-content: space-between;
  /* overflow-x: scroll; */
  margin-bottom: 40px;
}

/* .moviePoster{
  width: 10%;
  margin: 15px;
  object-fit: cover;
  border-radius: 10px;
  transition: transform 0.2s;
}

.moviePoster:hover {
  transform: scale(1.1);
} */

.movie-poster-container {
  width: 350px;
  height: 200px;
  margin: 10px;
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.2s;
}

.movie-poster-container:hover {
  transform: scale(1.1);
}

.movie-poster {
  width: 100%;
  object-fit: cover;
}

.logoNetflix{
  width:5%;
}

.customNav{
  background-color: #141313;
  padding-inline: 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 2;
}

.profilePic img{
  width: 40px;
  height: 40px;
}

.menuNav{
  font-weight: 600;
  color: #757575;
  margin-inline:20px ;
}

.menuNav:hover, .footer-links a:hover{
  color: #fff;
}

.dropBtn:hover{
  background-color: #ffffff34;
}

.navIcons{
  color: #fff;
  font-size: 30px;
}

.movieCarousel{
  width: 100%;
}

footer {
  margin: 0;
  margin-bottom: 3%;
  color: #838383;
}

.footer{
  width: 100%;
}

.footer-icon {
  font-size: 1.3em;
  margin: 5% 1%;
  
}

.footer-links a {
  color: #838383;
  display: block;
  margin: 4% 0;
  text-align: left;
  font-size: 0.8em;
}

.copyright {
  font-size: 0.6em;
}